{% extends 'base.html' %}

{% block content %}
<div class="container"> <p> <a href='{% url 'home' %}'> Home </a> <a href='{% url 'player:player_list' %}'> Player list </a> </p> </div>
<div class="container">
    <h2> <a href="{% url 'player:player_list' %}"> Player list </a> <h2>
</div>

<div class = "container">
    <form method="post"> {% csrf_token %}
    Are you sure you want to delete {{ player }}

    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a href="{% url 'player:player_list' %}" type="button" class="btn btn-warning"> Cancel </a>
</div>

{% endblock %}